{% extends "estateapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-sm-6 text-center">
            <img class="img rounded-circle account-img text-center", style="height: 80px;" src="{{user.profiles.image.url}}">
            <h5 class="text-center text-muted">{{user.username}}</h5>
            <h5 class="text-center text-muted">{{user.email}}</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="text-muted text-center">Update</legend>
                    {{u_form|crispy}}
                    {{p_form|crispy}}
                </fieldset>
                <button class="btn btn-outline-secondary form-group" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>








{% endblock content %}